<ion-header>
	<ion-toolbar>
		<ion-title>WebDesign: Step 2 - Content</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<main>
		<section id="content">
			<h2>Content</h2>
			<p>The purpose of <strong>design</strong> is to enhance the presentation of the content it's applied to. It
				might sound obvious, but content being the <strong>primary</strong> element of a website, it should not
				be established as an afterthought.</p>
			<p>Written content, like the paragraph you're currently reading, makes up for more than 90% of the Web.
				Styling this textual content will go a long way.</p>
			<p>Let's assume you've already finalised the content you want to publish and just created an empty
				<code>style.css</code> file, what is the <a href="/step03_centering">first rule</a>
				you can write?</p>
		</section>
	</main>
</ion-content>