<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GridDemo118</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <h2><a href="http://codepen.io/rachelandrew/pen/QbewmG">Example 1.18: Grid auto-placement column </a></h2>
    <div class="box a">A</div>
    <div class="box b">B</div>
    <div class="box c">C</div>
    <div class="box d">D</div>
    <div class="box e">E</div>
    <div class="box f">F</div>
</ion-content>
