<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GridDemo113</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2><a href="http://codepen.io/rachelandrew/pen/waVBpK">Example 1.13: Redefining grid areas with media
            queries </a></h2>
    <div class="wrapper">
        <div class="box header">Header</div>
        <div class="box sidebar1">Sidebar 1</div>
        <div class="box sidebar2">Sidebar 2</div>
        <div class="box content">Content
            <br /> More content than we had before so this column is now quite tall.</div>
        <div class="box footer">Footer</div>
    </div>
</ion-content>
