<ion-header>
	<ion-toolbar>
		<ion-title>WebDesign: Step 9</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<main>
		<!-- 9 -->
		<section id="secondary-colors">
			<h2>Secondary colors</h2>
			<p>The accent color can be complemented with more <em>subtle</em> shades, to be used on borders,
				backgrounds, or even the body text.</p>
			<pre><span class="selector">body</span> &#123;
	<span class="attribute">color</span>: <span class="number">#566b78</span>;
&#125;

<span class="selector">code</span>,
<span class="selector">pre</span>
	<span class="attribute">background</span>: <span class="number">#f5f7f9</span>;
	<span class="attribute">border-bottom</span>: <span class="number">1</span><span class="unit">px</span> solid <span class="number">#d8dee9</span>;
<span class="attribute">color</span>: <span class="number">#a7adba</span>;
&#125;

<span class="selector">pre</span>
  <span class="attribute">border-left</span>: <span class="number">2</span><span class="unit">px</span> solid <span class="number">#69c</span>;
&#125;</pre>
			<p>Having changed the shades, why not change the <a class="step" data-step="8"
					href="#custom-font">shapes</a>...</p>
		</section>

	</main>

</ion-content>