<ion-header>
	<ion-toolbar>
		<ion-title>WebDesign: Step 5</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<main>
		<!-- 5 -->
		<section id="spacing">
			<h2>Spacing</h2>
			<p>When a page looks "broken" to a user, it's usually a <strong>spacing</strong> issue. Providing space both
				<em>around</em> and <em>within</em> your content can increase the appeal of your page.</p>
			<pre><span class="selector">body</span> &#123;
	<span class="attribute">line-height</span>: <span class="number">1.5</span>;
	<span class="attribute">padding</span>: <span class="number">4</span><span class="unit">em</span> <span class="number">1</span><span class="unit">em</span>;
&#125;

<span class="selector">h2</span>
	<span class="attribute">margin-top</span>: <span class="number">1</span><span class="unit">em</span>;
	<span class="attribute">padding-top</span>: <span class="number">1</span><span class="unit">em</span>;
&#125;</pre>
			<p>While the layout has greatly improved so far, let's apply more <a class="step" data-step="4"
					href="#color-contrast">subtle changes</a>.</p>

			<h1>Header without Spacing</h1>
			<h2>Header</h2>
			<h2>Header</h2>
			<h2>Header</h2>

			<h1>Header with Spacing</h1>
			<h2 class="spacing">Header</h2>
			<h2 class="spacing">Header</h2>
			<h2 class="spacing">Header</h2>

		</section>
	</main>
</ion-content>