<ion-header>
	<ion-toolbar>
		<ion-title>WebDesign: Step 6</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<main>
		<!-- 6 -->
		<section id="color-contrast">
			<h2>Color &amp; Contrast</h2>
			<p>Black text on a white background can be harsh on the eyes. Opting for a softer shade of black for body
				text makes the page more <strong>comfortable</strong> to read.</p>
			<pre><span class="selector">body</span> &#123;
  <span class="attribute">color</span>: <span class="number">#555</span>;
&#125;</pre>
			<p>And in order to keep a decent level of <strong>contrast</strong>, let's pick a darker shade for
				<strong>important</strong> words</p>
			<pre><span class="selector">h1</span>,
<span class="selector">h2</span>,
<span class="selector">strong</span>
  <span class="attribute">color</span>: <span class="number">#333</span>;
&#125;</pre>
			<p>While most of the page has been improved visually, some elements (like the code snippets) still seem <a
					class="step" data-step="5" href="#balance">out of place</a>.</p>
		</section>
	</main>

</ion-content>