<ion-header>
	<ion-toolbar>
		<ion-title>WebDesign: Step 1 - Start</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<main>
		<section id="start">
			<h2>Start</h2>

			<p>Let's say you have a product, a portfolio, or just an idea you want to share with everyone on your
				<em>own</em> website. Before you publish it on the internet, you want to make it look attractive,
				professional, or at least <em>decent</em> to look at.</p>
			<p>What is the <a href="/step02_content">first thing</a> you need to work on?</p>
		</section>

	</main>
</ion-content>