<ion-header>
	<ion-toolbar>
		<ion-title>WebDesign: Step 4</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<main>
		<!-- 4 -->
		<section class="step04" id="font-family">
			<h2>Font family</h2>
			<p>The browser's font defaults to <code>"Times"</code>, which can look unappealing (mostly because it is the
				"unstyled" font). Switching to a <strong>sans-serif</strong> font like <code>"Helvetica"</code> or
				<code>"Arial"</code> can vastly improve the look of your page.</p>
			<pre class="code">
<span class="selector">body</span> &#123;
	<span class="attribute">font-family</span>: <span class="string">"Helvetica"</span>, <span class="string">"Arial"</span>, sans-serif;
&#125;</pre>
			<p><em>If you want to stick with a serif font, try <code>"Georgia"</code>.</em></p>
			<p>While this makes the text more <em>appealing</em>, let's also make it <a class="step" data-step="3"
					href="#spacing">more readable</a>.</p>
		</section>
	</main>
</ion-content>