<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>HTMLDemo101</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="wrapper">
        <h3>Your first HTML tag</h3>
        <div class="box code">
            <pre>Hello world!</pre>
        </div>
        <div class="box">
            1
        </div>
        <div class="box">
            2
        </div>

        <h3>Writing a proper HTML document</h3>

        <div class="box code"><code>
                <pre>
&lt;!DOCTYPE html&gt;&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;h1&gt;Hello world!&lt;/h1&gt;

&lt;/body&gt;
&lt;/html&gt;
    </pre></code>
        </div>

        <div class="box">
            -
        </div>
    </div>
</ion-content>
