<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GridDemo112</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2><a href="http://codepen.io/rachelandrew/pen/GJVgOV">1.12: No clearing required </a></h2>
    <div class="wrapper">
        <div class="box header">Header</div>
        <div class="box sidebar">Sidebar</div>
        <div class="box content">Content
            <br /> More content than we had before so this column is now quite tall.</div>
        <div class="box footer">Footer</div>
    </div>
</ion-content>
