<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons><ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
        <ion-title>CSS03-Grid</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="wrapper">
        <h2>CSS Grid Level 1 Examples<a href=" https://gridbyexample.com/examples/">Website</a></h2>
        <ul class="examples-detail-list">

            <li class="example" id="example1">
                <header>
                    <h5><a href="/grid-1-01/">Defining a Grid</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-01/"><img src="assets/img/grid/example1.png" alt="Screenshot of Defining a Grid" /></a>
                </figure>
            </li>

            <li class="example" id="example2">
                <header>
                    <h5><a href="/grid-1-02/">Line-based placement</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-02/"><img src="assets/img/grid/example2.png"
                        alt="Screenshot of Line-based placement" /></a>
                </figure>
            </li>

            <li class="example" id="example3">
                <header>
                    <h5><a href="/grid-1-03/">Line-based placement shorthand - grid-row and grid-column</a>
                    </h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-03/"><img src="assets/img/grid/example3.png"
                        alt="Screenshot of Line-based placement shorthand - grid-row and grid-column" /></a>
                </figure>
            </li>

            <li class="example" id="example4">
                <header>
                    <h5><a href="/grid-1-04/">Line-based placement shorthand - grid-area</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-04/"><img src="assets/img/grid/example4.png"
                        alt="Screenshot of Line-based placement shorthand - grid-area" /></a>
                </figure>
            </li>

            <li class="example" id="example5">
                <header>
                    <h5><a href="/grid-1-05/">Line-based placement spanning tracks</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-05/"><img src="assets/img/grid/example5.png"
                        alt="Screenshot of Line-based placement spanning tracks" /></a>
                </figure>
            </li>

            <li class="example" id="example6">
                <header>
                    <h5><a href="/grid-1-06/">Line-based placement spanning tracks with the span keyword</a>
                    </h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-06/"><img src="assets/img/grid/example6.png"
                        alt="Screenshot of Line-based placement spanning tracks with the span keyword" /></a>
                </figure>
            </li>

            <li class="example" id="example7">
                <header>
                    <h5><a href="/grid-1-07/">Line-based placement named lines</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-07/"><img src="assets/img/grid/example7.png"
                        alt="Screenshot of Line-based placement named lines" /></a>
                </figure>

            </li>

            <li class="example" id="example8">
                <header>
                    <h5><a href="/grid-1-08/">Line-based placement named lines with spans</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-08/"><img src="assets/img/grid/example8.png"
                        alt="Screenshot of Line-based placement named lines with spans" /></a>
                </figure>

            </li>

            <li class="example" id="example9">
                <header>
                    <h5><a href="/grid-1-09/">Using repeat notation</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-09/"><img src="assets/img/grid/example9.png"
                        alt="Screenshot of Using repeat notation" /></a>
                </figure>
            </li>

            <li class="example" id="example10">
                <header>
                    <h5><a href="/grid-1-10/">Explicit and Implicit Grid</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-10/"><img src="assets/img/grid/example10.png"
                        alt="Screenshot of Explicit and Implicit Grid" /></a>
                </figure>
            </li>

            <li class="example" id="example11">
                <header>
                    <h5><a href="/grid-1-11/">Defining Grid Areas</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-11/"><img src="assets/img/grid/example11.png"
                        alt="Screenshot of Defining Grid Areas" /></a>
                </figure>

            </li>

            <li class="example" id="example12">
                <header>
                    <h5><a href="/grid-1-12/">No clearing required</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-12/"><img src="assets/img/grid/example12.png"
                        alt="Screenshot of No clearing required" /></a>
                </figure>

            </li>

            <li class="example" id="example13">
                <header>
                    <h5><a href="/grid-1-13/">Redefining Grid Areas with Media Queries</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-13/"><img src="assets/img/grid/example13.png"
                        alt="Screenshot of Redefining Grid Areas with Media Queries" /></a>
                </figure>
            </li>

            <li class="example" id="example14">
                <header>
                    <h5><a href="/grid-1-14/">Source Independence</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-14/"><img src="assets/img/grid/example14.png"
                        alt="Screenshot of Source Independence" /></a>
                </figure>

            </li>

            <li class="example" id="example15">
                <header>
                    <h5><a href="/grid-1-15/">Layering items</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-15/"><img src="assets/img/grid/example15.png" alt="Screenshot of Layering items" /></a>
                </figure>

            </li>

            <li class="example" id="example16">
                <header>
                    <h5><a href="/grid-1-16/">A grid item as a new positioning context</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-16/"><img src="assets/img/grid/example16.png"
                        alt="Screenshot of A grid item as a new positioning context" /></a>
                </figure>

            </li>

            <li class="example" id="example17">
                <header>
                    <h5><a href="/grid-1-17/">Grid auto-placement</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-17/"><img src="assets/img/grid/example17.png"
                        alt="Screenshot of Grid auto-placement" /></a>
                </figure>

            </li>

            <li class="example" id="example18">
                <header>
                    <h5><a href="/grid-1-18/">Grid auto-flow column</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-18/"><img src="assets/img/grid/example18.png"
                        alt="Screenshot of Grid auto-flow column" /></a>
                </figure>

            </li>

            <li class="example" id="example19">
                <header>
                    <h5><a href="/grid-1-19/">Grid auto-placement mixed with placed items</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-19/"><img src="assets/img/grid/example19.png"
                        alt="Screenshot of Grid auto-placement mixed with placed items" /></a>
                </figure>

            </li>

            <li class="example" id="example20">
                <header>
                    <h5><a href="/grid-1-20/">The auto-fill keyword in repeating track definitions</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-20/"><img src="assets/img/grid/example20.png"
                        alt="Screenshot of The auto-fill keyword in repeating track definitions" /></a>
                </figure>
            </li>

            <li class="example" id="example21">
                <header>
                    <h5><a href="/grid-1-21/">Nested Grid</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-21/"><img src="assets/img/grid/example21.png" alt="Screenshot of Nested Grid" /></a>
                </figure>
            </li>

            <li class="example" id="example22">
                <header>
                    <h5><a href="/grid-1-22/">Implicit named grid lines</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-22/"><img src="assets/img/grid/example22.png"
                        alt="Screenshot of Implicit named grid lines" /></a>
                </figure>
            </li>

            <li class="example" id="example23">
                <header>
                    <h5><a href="/grid-1-23/">Using Order</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-23/"><img src="assets/img/grid/example23.png" alt="Screenshot of Using Order" /></a>
                </figure>
            </li>

            <li class="example" id="example24">
                <header>
                    <h5><a href="/grid-1-24/">Box alignment align-items</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-24/"><img src="assets/img/grid/example24.png"
                        alt="Screenshot of Box alignment align-items" /></a>
                </figure>
            </li>

            <li class="example" id="example25">
                <header>
                    <h5><a href="/grid-1-25/">Box alignment justify-items</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-25/"><img src="assets/img/grid/example25.png"
                        alt="Screenshot of Box alignment justify-items" /></a>
                </figure>
            </li>

            <li class="example" id="example26">
                <header>
                    <h5><a href="/grid-1-26/">Box alignment align-self</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-26/"><img src="assets/img/grid/example26.png"
                        alt="Screenshot of Box alignment align-self" /></a>
                </figure>
            </li>

            <li class="example" id="example27">
                <header>
                    <h5><a href="/grid-1-27/">Box alignment justify-self</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-27/"><img src="assets/img/grid/example27.png"
                        alt="Screenshot of Box alignment justify-self" /></a>
                </figure>
            </li>

            <li class="example" id="example28">
                <header>
                    <h5><a href="/grid-1-28/">minmax() in auto-fill repeating tracks</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-28/"><img src="assets/img/grid/example28.png"
                        alt="Screenshot of minmax() in auto-fill repeating tracks" /></a>
                </figure>
            </li>

            <li class="example" id="example29">
                <header>
                    <h5><a href="/grid-1-29/">minmax() and spanning columns and rows</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-29/"><img src="assets/img/grid/example29.png"
                        alt="Screenshot of minmax() and spanning columns and rows" /></a>
                </figure>
            </li>

            <li class="example" id="example30">
                <header>
                    <h5><a href="/grid-1-30/">The auto-fill keyword with named grid lines</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-30/"><img src="assets/img/grid/example30.png"
                        alt="Screenshot of The auto-fill keyword with named grid lines" /></a>
                </figure>
            </li>

            <li class="example" id="example31">
                <header>
                    <h5><a href="/grid-1-31/">A simple minmaxExample</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-31/"><img src="assets/img/grid/example31.png"
                        alt="Screenshot of A simple minmaxExample" /></a>
                </figure>
            </li>

            <li class="example" id="example32">
                <header>
                    <h5><a href="/grid-1-32/">Aligning the Grid</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-32/"><img src="assets/img/grid/example32.png"
                        alt="Screenshot of Aligning the Grid" /></a>
                </figure>
            </li>

            <li class="example" id="example33">
                <header>
                    <h5><a href="/grid-1-33/">Aligning the grid with space-around and space-between</a>
                    </h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-33/"><img src="assets/img/grid/example33.png"
                        alt="Screenshot of Aligning the grid with space-around and space-between" /></a>
                </figure>
            </li>

            <li class="example" id="example34">
                <header>
                    <h5><a href="/grid-1-34/">Multiple tracks in a track-list with auto-fill</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-34/"><img src="assets/img/grid/example34.png"
                        alt="Screenshot of Multiple tracks in a track-list with auto-fill" /></a>
                </figure>
            </li>

            <li class="example" id="example35">
                <header>
                    <h5><a href="/grid-1-35/">Multiple tracks in a track-list with auto-fill and
                            minmax()</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-35/"><img src="assets/img/grid/example35.png"
                        alt="Screenshot of Multiple tracks in a track-list with auto-fill and minmax()" /></a>
                </figure>
            </li>

            <li class="example" id="example36">
                <header>
                    <h5><a href="/grid-1-36/">Percentage based grids and gaps</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-36/"><img src="assets/img/grid/example36.png"
                        alt="Screenshot of Percentage based grids and gaps" /></a>
                </figure>
            </li>

            <li class="example" id="example37">
                <header>
                    <h5><a href="/grid-1-37/">auto-fill vs. auto-fit</a></h5>
                </header>

                <figure class="imagefig">
            <li><a href="/grid-1-37/"><img src="assets/img/grid/example37.png"
                        alt="Screenshot of auto-fill vs. auto-fit" /></a>
                </figure>
            </li>

        </ul>

        <h2>Examples at Codepen</h2>
        <ul>
            <li><a href="http://codepen.io/rachelandrew/pen/BNXyQa">1.01: Defining a Grid</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/RPXNod">1.02: Line-based placement</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/VLoYPV">1.03: Line-based placement shorthand</a>
            </li>
            <li><a href="http://codepen.io/rachelandrew/pen/pJMveN">1.04: Line-based placement shorthand
                    grid-area</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/XbvJMz">1.05: Line-based placement spanning cells
                </a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/oXKgwa">1.06: Line-based placement span keyword
                </a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/yNmyoM">1.07: Line-based placement named lines</a>
            </li>
            <li><a href="http://codepen.io/rachelandrew/pen/oXKgeQ">1.08: Line-based placement named lines with
                    span</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/yNmyPb">1.09: The repeat keyword</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/oXKgoQ">1.11: Defining Grid Areas</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/GJVgOV">1.12: No clearing required</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/waVBpK">1.13: Redefining grid areas with mediaqueries</a>
            </li>
            <li><a href="http://codepen.io/rachelandrew/pen/WvVbMG">1.14: Source independence</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/KpOwQW">1.15: Layering items</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/doxPda">1.16: Grid Area as a new positioning context</a>
            </li>
            <li><a href="http://codepen.io/rachelandrew/pen/PqMwRw">1.17: Grid Auto-placement</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/QbewmG">1.18: Grid auto-placement column</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/eNqmKy">1.19: Auto-placement with a positioned
                    element</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/mJNyjb">1.20: the auto keyword in repeating track
                    definitions</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/NqQPBR">1.21: a nested Grid</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/LVwEBM">1.22: Implicit named grid lines</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/OVKPoy">1.23: Auto-placement and the order property
                </a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/WQNqKy">1.24: align-items</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/NGWZLM">1.25: justify-items</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/KdKLLX">1.26: align-self</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/dYyBeM">1.27: justify-self</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/GZQYOL">1.28: minmax</a>
            <li><a href="http://codepen.io/rachelandrew/pen/GZQYQa">1.29: minmax</a>
            <li><a href="http://codepen.io/rachelandrew/pen/XdZydB">1.30: auto-fill with named lines</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/RRxPyk">1.31: simple minmax</a>
            <li><a href="http://codepen.io/rachelandrew/pen/OXzVAE">1.32: aligning the grid</a></li>
            <li><a href="#">1.33: fixed sizes can get extra space due to alignment properties</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/kXvWVN"></a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/xProVK">1.34:</a>
            <li><a href="http://codepen.io/rachelandrew/pen/QExBRB">1.35: Repeating multiple track lists with minmax</a>
            <li><a href="http://codepen.io/rachelandrew/pen/NRGqKb">1.36: Percentage grids and gaps</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/dpYzkq">1.37: auto-fill vs. auto-fit</a></li>
        </ul>
    </div>
</ion-content>
