<ion-header>
	<ion-toolbar>
		<ion-title>WebDesign: Step 8</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<main>
		<!-- 8 -->
		<section id="primary-color">
			<h2>Primary color</h2>
			<p>Most brands have a <strong>primary color</strong> that acts as a visual accent. On a website, this accent
				can be used to provide emphasis on interactive elements, like <strong>links</strong>.</p>
			<pre><span class="selector">a</span>
	<span class="attribute">color</span>: <span class="number">#e81c4f</span>;
&#125;</pre>
			<p>But to keep the balance, we will need some <a class="step" data-step="7"
					href="#secondary-colors">additional colors</a>.</p>
		</section>
	</main>
</ion-content>