<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>CSS Demo: 01</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>H1 ohne Stil</h1>
    <h2>H2 ohne Stil</h2>
    <h1 class="colored">H1 mit Stil</h1>
    <h2 class="colored">H2 mit Stil</h2>

    <hr>
    <h3>H3 ohne Stil 1</h3>
    <h3 class="style1">H3 in <span>Stil 1</span></h3>
    <h3 class="style2">H3 in <span>Stil 2</span></h3>
    <h3 class="style2">H3 in <span class="marine">Marine</span></h3>

    <hr>
    <h5 class="style2">H5 in <span>Stil 2</span></h5>
    <h5 class="style2">H5 in <span class="marine">Stil 2 in Marine</span></h5>
    <h5 class="style2">H5 in <span class="yellow">Stil 2 in Yellow</span></h5>

    <hr>
    <span class="blocks block1">block 1</span>
    <span class="blocks block2">block 2</span>
    <span class="blocks block3">block 3</span>
</ion-content>
