<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GridDemo116</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2><a href="http://codepen.io/rachelandrew/pen/doxPda">Example 1.16: Grid Area as a new positioning
            context </a></h2>
    <div class="wrapper">
        <div class="box header">Header</div>
        <div class="box sidebar">Sidebar</div>
        <div class="box content">Content
            <br /> The four arrows are inline images inside the content area.
            <img src="http://gridbyexample.com/examples/code/arrow-top-left.png" alt="top left" class="topleft" />
            <img src="http://gridbyexample.com/examples/code/arrow-top-right.png" alt="top right" class="topright" />
            <img src="http://gridbyexample.com/examples/code/arrow-bottom-left.png" alt="bottom left"
                class="bottomleft" />
            <img src="http://gridbyexample.com/examples/code/arrow-bottom-right.png" alt="bottom right"
                class="bottomright" /></div>
        <div class="box footer">Footer</div>
    </div>
</ion-content>
