<ion-header>
	<ion-toolbar>
		<ion-title>WebDesign: Step 7</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<main>
		<!-- 7 -->
		<section id="balance">
			<h2>Balance</h2>
			<p>It only takes a few additional touches to correct the balance of the page:</p>
			<pre><span class="selector">code</span>,
<span class="selector">pre</span>
	<span class="attribute">background</span>: <span class="number">#eee</span>;
&#125;

<span class="selector">code</span>
	<span class="attribute">padding</span>: <span class="number">2</span>px <span class="number">4</span>px;
	<span class="attribute">vertical-align</span>: text-bottom;
&#125;

<span class="selector">pre</span>
	<span class="attribute">padding</span>: <span class="number">1</span>em;
&#125;</pre>
			<p>At this point, you might want to make your page stand out and give it <a class="step" data-step="6"
					href="#primary-color">identity</a>.</p>
		</section>


	</main>

</ion-content>