<ion-header>
	<ion-toolbar>
		<ion-title>WebDesign: Step3 - Centering</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<main>
		<!-- 3 -->
		<section id="centering">
			<h2>Centering</h2>
			<p>Long lines of text can be hard to parse, and thus hard to <strong>read</strong>. Setting a limit of
				characters per line greatly enhances the readability and appeal of a wall of text.</p>
			<pre class="code">
<span class="selector">body</span> &#123;
	<span class="attribute">margin</span>: <span class="number">0</span> auto;
	<span class="attribute">max-width</span>: <span class="number">50</span><span class="unit">em</span>;
&#125;
</pre>
			<p>After styling the text <em>blocks</em>, what about styling the <a class="step" data-step="2"
					href="#font-family">text itself</a>?</p>
		</section>
	</main>
</ion-content>