<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GridDemo111</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2><a href="http://codepen.io/rachelandrew/pen/oXKgoQ">1.11: Defining Grid Areas </a></h2>
    <div class="wrapper">
        <div class="box header">Header</div>
        <div class="box sidebar">Sidebar</div>
        <div class="box content">Content</div>
    </div>
</ion-content>
