<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons><ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
        <ion-title>CSS03-Grid</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="wrapper">
        <h2>CSS Grid Level 2 Examples | <a href="https://gridbyexample.com/examples/">Website</a></h2>

        <ul class="examples-detail-list">

            <li class="example" id="example1">
                <header>
                    <h3><a href="/grid-2-01/">Subgrid on columns and rows</a></h3>
                </header>

                <figure class="imagefig">
                    <a href="/grid-2-01/"><img src="assets/img/grid/example2-1.png"
                            alt="Screenshot of Subgrid on columns and rows" /></a>
                </figure>
            </li>

            <li class="example" id="example1">
                <header>
                    <h3><a href="/grid-2-02/">Subgrid on columns, implicit grid rows</a></h3>
                </header>

                <figure class="imagefig">
                    <a href="/grid-2-02/"><img src="assets/img/grid/example2-2.png"
                            alt="Screenshot of Subgrid on columns, implicit grid rows" /></a>
                </figure>
            </li>

            <li class="example" id="example1">
                <header>
                    <h3><a href="/grid-2-03/">Subgrid on rows, defined column tracks</a></h3>
                </header>

                <figure class="imagefig">
                    <a href="/grid-2-03/"><img src="assets/img/grid/example2-3.png"
                            alt="Screenshot of Subgrid on rows, defined column tracks" /></a>
                </figure>
            </li>

            <li class="example" id="example1">
                <header>
                    <h3><a href="/grid-2-04/">The subgrid can override the gap on the parent</a></h3>
                </header>

                <figure class="imagefig">
                    <a href="/grid-2-04/"><img src="assets/img/grid/example2-4.png"
                            alt="Screenshot of The subgrid can override the gap on the parent" /></a>
                </figure>
            </li>

            <li class="example" id="example1">
                <header>
                    <h3><a href="/grid-2-05/">No implicit grid in subgridded dimension</a></h3>
                </header>

                <figure class="imagefig">
                    <a href="/grid-2-05/"><img src="assets/img/grid/example2-5.png"
                            alt="Screenshot of No implicit grid in subgridded dimension" /></a>
                </figure>
            </li>

            <li class="example" id="example1">
                <header>
                    <h3><a href="/grid-2-06/">Line names on the parent are passed into the subgrid</a>
                    </h3>
                </header>

                <figure class="imagefig">
                    <a href="/grid-2-06/"><img src="assets/img/grid/example2-6.png"
                            alt="Screenshot of Line names on the parent are passed into the subgrid" /></a>
                </figure>
            </li>

            <li class="example" id="example1">
                <header>
                    <h3><a href="/grid-2-07/">Line names on the child are added to those from the
                            parent</a></h3>
                </header>

                <figure class="imagefig">
                    <a href="/grid-2-07/"><img src="assets/img/grid/example2-7.png"
                            alt="Screenshot of Line names on the child are added to those from the parent" /></a>
                </figure>
            </li>

            <li class="example" id="example1">
                <header>
                    <h3><a href="/grid-2-08/">Padding is honored on the subgrid</a></h3>
                </header>

                <figure class="imagefig">
                    <a href="/grid-2-08/"><img src="assets/img/grid/example2-8.png"
                            alt="Screenshot of Padding is honored on the subgrid" /></a>
                </figure>
            </li>

            <li class="example" id="example1">
                <header>
                    <h3><a href="/grid-2-09/">Margin is honored on the subgrid</a></h3>
                </header>

                <figure class="imagefig">
                    <a href="/grid-2-09/"><img src="assets/img/grid/example2-9.png"
                            alt="Screenshot of Margin is honored on the subgrid" /></a>
                </figure>
            </li>

        </ul>
        <h2>Examples at Codepen</h2>
        <ul>
            <li><a href="http://codepen.io/rachelandrew/pen/axLzYv">Example 2.1: subgrid columns and rows</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/eoVwBp">Example 2.6: line names on the parent are passed
                    into the subgrid</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/jRdXYm">Example 2.4: row-gap set to 0 on the subgrid</a>
            </li>
            <li><a href="http://codepen.io/rachelandrew/pen/mgpqBv">Example 2.3: subgrid rows, defined column tracks</a>
            </li>
            <li><a href="http://codepen.io/rachelandrew/pen/MRLZZV">Example 2.5: no implicit tracks in subgridded
                    dimension</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/MRQMJY">Example 2.7: lines on child are added to those
                    defined
                    on the parent.</a></li>
            <li><a href="http://codepen.io/rachelandrew/pen/rbPPao">Example 2.8: padding is honored on the subgrid.</a>
            </li>
            <li><a href="http://codepen.io/rachelandrew/pen/YMBBqq">Example 2.8: padding is honored on the subgrid.</a>
            </li>
            <li><a href="http://codepen.io/rachelandrew/pen/YMYEVO">Example 2.2: subgrid columns, implicit grid rows</a>
            </li>

        </ul>
    </div>
    << <</ion-content>
